
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es">
<head>
    <link rel="shortcut icon" src="~/Content/ImagesOwner/favicon.ico" />
    <script src="~/Scripts/jquery.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Content/UI/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <link href="~/Content/UI/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/UI/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <title>ALDEA</title>
</head>
<body>
    <header>
        <div class="col-lg-12" id="hdr">
            <div id="bnr">
                <img src="~/Content/ImagesOwner/aldea2.png" />
                <hr />
            </div>

            <div class="btn-group">
                <a id="btnIndex" class="ui-button ui-widget ui-corner-all" href='@Url.Action("Index","Home")'>Inicio</a>
                <a id="btnRegistrarUsuario" class="ui-button ui-widget ui-corner-all" href='@Url.Action("Registro","Home")'>Registrarse</a>
                <a id="btnModificarUsuarios" class="ui-button ui-widget ui-corner-all" href='@Url.Action("Modificar","Home")'>Modificar usuarios</a>
                <a id="btnInfoAldea" class="ui-button ui-widget ui-corner-all" href='@Url.Action("Informacion","Home")'>Información ALDEA</a>
                <a id="btnModificarInfoAldea" class="ui-button ui-widget ui-corner-all" href='@Url.Action("ModificarInformacion","Home")'>Modificar aportes</a>
                <a id="btnUsuarios" class="ui-button ui-widget ui-corner-all" href='@Url.Action("Usuarios","Home")'>Usuarios</a>
                <a id="btnConsultaPagos" class="ui-button ui-widget ui-corner-all" href='@Url.Action("GenerarComprobante","Home")'>Consultar Aportes</a>
                <a id="btnmodificarusuario" class="ui-button ui-widget ui-corner-all" href='@Url.Action("ModificarmiUsuario","Home")'>Modificar mi usuario</a>
                <a id="btniniciarSesion" class="ui-button ui-widget ui-corner-all" href='@Url.Action("Login","Home")'>Iniciar sesión</a>
                <a id="btnCerrarSesion" class="ui-button ui-widget ui-corner-all" href='@Url.Action("CerrarSesion", "Home")'>Cerrar sesión</a>
                
            </div>
            <hr />
        </div>


    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section>

            @RenderBody()

        </section>
    </div>
    <footer>
        <div id="pie" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h5>La Corporación Universitaria Lasallista es una institución de Educación Superior sujeta a vigilancia del Ministerio de Educación Nacional Art.39, decreto 1295 de 2010.</h5>
            <h5>Corporación Universitaria Lasallista</h5>
            <h5>PBX 3201999 comunicaciones@lasallista.edu.co</h5>
            <h5>notificacioneslegales@lasallista.edu.co</h5>
            <h5>Carrera 51 118 sur 57 Caldas - Antioquia - Colombia</h5>
            <h5>Copyright 2017 ® Todos los Derechos Reservados</h5>
        </div>

    </footer>
</body>
</html>
<script type="text/javascript">
   // GestionarBotones();
    var identificacion;
    var tipodocumento;
    var Rol;
    MostrarBotones();
    $(function () {
        $(document).tooltip({
            position: {
                my: "center bottom-20",
                at: "center top",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                        .addClass("arrow")
                        .addClass(feedback.vertical)
                        .addClass(feedback.horizontal)
                        .appendTo(this);
                }
            }
        });
    });




    var cadena1;
    $("#btnBuscar").click(function () {

        $.ajax({
                url: '@Url.Action("BuscarUsuario", "Home")',
                type: 'POST',
                async: true,
                dataType: "json",
                data: {
                    "Tipoid": $("#Tipoid").val(), "NumId": $("#IdBusqueda").val()},
                error: function (response, status, error) {
                    console.log(error);

                },
                success: function (respuesta) {
                    var cadena = "";
                    if (respuesta.Mensaje == "") {
                       $('#contenedor').show();
                        cadena1 = respuesta.miusuario.CodUsuario;
                        $("#NumId").val(respuesta.miusuario.NumId);
                        $("#NomUsuario").val(respuesta.miusuario.NomUsuario);
                        $("#ApellidosUsuario").val(respuesta.miusuario.ApellidosUsuario);
                        $("#FechaNacimiento").val(GetFechaDDMMYYY(respuesta.miusuario.FechaNacimiento));
                        console.log(respuesta.miusuario.FechaNacimiento);
                        console.log(GetFechaDDMMYYY(respuesta.miusuario.FechaNacimiento));
                        $("#CiudadNacimiento").val(respuesta.miusuario.CiudadNacimiento);
                        $("#DepartamentoNacimiento").val(respuesta.miusuario.DepartamentoNacimiento);
                        $("#PaisNacimiento").val(respuesta.miusuario.PaisNacimiento);
                        $("#CiudadResidencia").val(respuesta.miusuario.CiudadResidencia);
                        $("#DepartamentoResidencia").val(respuesta.miusuario.DepartamentoResidencia);
                        $("#PaisResidencia").val(respuesta.miusuario.PaisResidencia);
                        $("#DireccionResidencia").val(respuesta.miusuario.DireccionResidencia);
                        $("#TelefonoFijo").val(respuesta.miusuario.TelefonoFijo);
                        $("#TelefonoCelular").val(respuesta.miusuario.TelefonoCelular);
                        $("#CorreoElectronico").val(respuesta.miusuario.CorreoElectronico);
                        $("#InstitucionEgreso").val(respuesta.miusuario.InstitucionEgreso);
                        $("#AnioEgreso").val(respuesta.miusuario.AnioEgreso);
                        $("#TipoAfiliacion").val(respuesta.miusuario.TipoAfiliacion);
                        $("#TituloPregrado").val(respuesta.miusuario.TituloPregrado);
                        $("#InstitucionPregrado").val(respuesta.miusuario.InstitucionPregrado);
                        $("#AnioGraduacionPregrado").val(respuesta.miusuario.AnioGraduacionPregrado);
                        $("#TituloPosgrado").val(respuesta.miusuario.TituloPosgrado);
                        $("#InstitucionPosgrado").val(respuesta.miusuario.InstitucionPosgrado);
                        $("#AnioGraduacionPosgrado").val(respuesta.miusuario.AnioGraduacionPosgrado);
                        $("#NombreEmpresa").val(respuesta.miusuario.NomEmpresaTrabajo);
                        $("#Cargo").val(respuesta.miusuario.Cargo);
                        $("#DireccionEmpresa").val(respuesta.miusuario.DirEmpresa);
                        $("#TelefonoEmpresa").val(respuesta.miusuario.TelefonoEmpresa);
                        MostrarBotones();
                    } else {
                        alert(respuesta.Mensaje);
                        MostrarBotones();
                    }
                },
                beforeSend: function () {
                    console.log("Se enviara");

                },
                complete: function () {
                    console.log("Termino");


                }
            });


    });
        $("#btnModificar").click(function () {
                var contrasena = document.getElementById("Contrasena").value;
                var repetircontrasena = document.getElementById("Contrasena2").value;
                if (contrasena != repetircontrasena) {
                    alert("Las contraseñas no coínciden.");
                }else{
                $.ajax({
                url: '@Url.Action("ModificarUsuario", "Home")',
                type: 'POST',
                async: true,
                dataType: "json",
                data: {
                    "CodUsuario": cadena1, "Tipoid": $("#Tipoid").val(), "NumId": $("#NumId").val(), "NomUsuario": $("#NomUsuario").val(),
                    "ApellidosUsuario": $("#ApellidosUsuario").val(), "FechaNacimiento": $("#FechaNacimiento").val(), "CiudadNacimiento": $("#CiudadNacimiento").val(),
                    "DepartamentoNacimiento": $("#DepartamentoNacimiento").val(), "PaisNacimiento": $("#PaisNacimiento").val(), "CiudadResidencia": $("#CiudadResidencia").val(),
                    "DepartamentoResidencia": $("#DepartamentoResidencia").val(), "PaisResidencia": $("#PaisResidencia").val(), "DireccionResidencia": $("#DireccionResidencia").val(),
                    "TelefonoFijo": $("#TelefonoFijo").val(), "TelefonoCelular": $("#TelefonoCelular").val(), "CorreoElectronico": $("#CorreoElectronico").val(),
                    "InstitucionEgreso": $("#InstitucionEgreso").val(), "AnioEgreso": $("#AnioEgreso").val(), "TipoAfiliacion": $("#TipoAfiliacion").val(),
                    "TituloPregrado": $("#TituloPregrado").val(), "InstitucionPregrado": $("#InstitucionPregrado").val(), "AnioGraduacionPregrado": $("#AnioGraduacionPregrado").val(),
                    "TituloPosgrado": $("#TituloPosgrado").val(), "InstitucionPosgrado": $("#InstitucionPosgrado").val(), "AnioGraduacionPosgrado": $("#AnioGraduacionPosgrado").val(),
                    "NomEmpresaTrabajo": $("#NombreEmpresa").val(), "Cargo": $("#Cargo").val(), "DirEmpresa": $("#DireccionEmpresa").val(), "TelefonoEmpresa": $("#TelefonoEmpresa").val()
                    , "Contrasenia": $("#Contrasena").val()
                },


                error: function (response, status, error) {
                    console.log(error);

                },
                success: function (respuesta) {
                        var cadena = "";

                        console.log("Exitoso");
                        alert("Cambios guardados exitosamente");
                        MostrarBotones();
                },
                beforeSend: function () {
                    console.log("Se enviara");

                },
                complete: function () {
                    console.log("Termino");

                }
            });


    };
            })


    function GetFechaDDMMYYY(fechaasp) {
        if (!fechaasp) {
            return '';
        }
        else {
            var fechaafiliacion = new Date(parseInt(fechaasp.replace("/Date(", "").replace(")/", ""), 10));
            return fechaafiliacion.getFullYear()+ "/" + ('0' + (fechaafiliacion.getMonth() + 1)).slice(-2)+ "/" + ('0' + fechaafiliacion.getDate()).slice(-2) ;
        }
    }

    $("#FechaNacimiento").accordion();
    $("#fechapago").accordion();
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'mm/dd/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
        $.datepicker.setDefaults($.datepicker.regional['es']);
        $("#FechaNacimiento").datepicker();
        $("#fechapago").datepicker();

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            MostrarBotones();
          //  $("table[id*=tblAdmin] th").removeAttr("onclick");
        });

      $("#btnlogin").click(function () {

        $.ajax({
                url: '@Url.Action("VerificarUsuario", "Home")',
                type: 'POST',
                async: true,
                dataType: "json",
                data: {
                    "Tipoid": $("#Tipoid").val(), "NumId": $("#Documento").val(), "contrasenia": $("#Contrasena").val()},
                error: function (response, status, error) {
                    console.log(error);
                },
                success: function (respuesta) {
                    if (respuesta.mensaje == "") {

                        console.log(respuesta.rol);
                       window.location = ("/");
                     //   $("#body").load('Index.cshtml');
                        //alert(Rol);


                        Rol = respuesta.rol;
                        MostrarBotones(Rol);


                    } else {
                        console.log(respuesta.mensaje);
                        MostrarBotones();
                    }
                    tipodocumento = $("#Tipoid").val();
                    identificacion = $("#Documento").val()


                   // MostrarBotones();

                },
                beforeSend: function () {
                    console.log("Se enviara");
                },
                complete: function () {
                    console.log("Termino");
                }
            });
        });

      function GestionarBotones(rl) {
          console.log(rl)
          switch (rl) {
              case '1':
                  $("#btnmodificarusuario").show();
                  $("#btnModificarUsuarios").hide();
                  $("#btnInfoAldea").show();
                  $("#btnModificarInfoAldea").hide();
                  $("#btnUsuarios").hide();
                  $("#btnConsultaPagos").hide();
                  $("#btnCerrarSesion").show();
                  $("#btniniciarSesion").hide();

                  break;
              case '2':
                  $("#btnmodificarusuario").hide();
                  $("#btnModificarUsuarios").show();
                  $("#btnInfoAldea").show();
                  $("#btnModificarInfoAldea").show();
                  $("#btnUsuarios").show();
                  $("#btnConsultaPagos").show();
                  $("#btniniciarSesion").hide();
                  $("#btnCerrarSesion").show();
                  break;
              case '0':
                  $("#btnmodificarusuario").hide();
                  $("#btnModificarUsuarios").hide();
                  $("#btnInfoAldea").hide();
                  $("#btnModificarInfoAldea").hide();
                  $("#btnUsuarios").hide();
                  $("#btnConsultaPagos").hide();

                  //$("#btniniciarSesion").hide();
                  $("#btnCerrarSesion").hide();



          }
      }
      $(document).ready(function () {

        $.ajax({
                url: '@Url.Action("TraerUsuarios", "Home")',
                type: 'POST',
                async: true,
                dataType: "json",
                error: function (response, status, error) {
                    console.log(error);
                },
                success: function (respuesta) {
                    var cadena = "";
                    cadena = '<tr><th>Tipo Identificación</th><th> Número de Identificación </th><th>Nombre </th><th>Pago</th></tr>';
                    $.each(respuesta, function (index, value) {
                        cadena = cadena + '<tr>' + '<td>' + value.TipoIdentificacion + '</td>'
                            + '<td>' + value.NumIdentificacion + '</td>' +
                            '<td>' + value.NombresUsuario + '</td>' + '<td><input type="button" class="edit" name="btnEditar" value="Agregar Pago" data-toggle="modal"  onclick="informacion(' + value.IdUsuario + ')" data-target="#modalPagos"></td></tr>';
                    });
                    $("#tbl").empty();
                    $("#tbl").append(cadena);
                    MostrarBotones();
                },
                beforeSend: function () {
                    console.log("Se enviara");
                },
                complete: function () {
                    console.log("Termino");
                }
            });
      });
         
            
    //function ModificarInformacion() {
    //    var div = $("#myModelContaint");

    //    $("#ModelTitle").html("Edit Employee Details");
    //    $("#myModalEmployee").modal();


    //}
              function BuscarUsuario() {
                  // Declare variables
                  var input, filter, table, tr, td, i;
                  input = document.getElementById("txtUsuario");
                  filter = input.value.toUpperCase();
                  table = document.getElementById("tbl");
                  tr = table.getElementsByTagName("tr");

                  // Loop through all table rows, and hide those who don't match the search query
                  for (i = 0; i < tr.length; i++) {
                      td = tr[i].getElementsByTagName("td")[1];
                      td2 = tr[i].getElementsByTagName("td")[2];
                      if (td || td2) {
                          if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                              tr[i].style.display = "";
                          } else {
                              tr[i].style.display = "none";
                          }
                      }
                  }
              }


        function prueba(value) {

        $.ajax({
            url: '@Url.Action("SeleccionarItem", "Home")',
            type: 'POST',
            async: true,
            dataType: "json",
            data: { "id": value },
            error: function (response, status, error) {
                console.log(error);
            },
            success: function (respuesta) {
                var cadena = "";
                console.log(respuesta.id);
                console.log(respuesta.Descripcion);
                console.log(respuesta.Valor);

                var modal = $('#myModal')
                modal.find('.modal-body #labelh').text(respuesta.id)
                modal.find('.modal-body #DescripcionInfo').val(respuesta.Descripcion)
                modal.find('.modal-body #Valor').val(respuesta.Valor)
                MostrarBotones();
            },
            beforeSend: function () {
                console.log("Se enviara");
            },
            complete: function () {
                console.log("Termino");
            }
        });
    }
      function prueba2(value) {

          var modal = $('#myModal2')
          // alert(value);
          modal.find('.modal-body #labelh3').text(value)
    }
    function informacion(value) {



        var modal = $('#modalPagos')
       // alert(value);
        modal.find('.modal-body #labelh2').text(value)


    }





    //$('#SelectAnios').load('#', function () {
    //    var min = new Date().getFullYear() + 1,
    //        max = min - 9,
    //        select = document.getElementById('#SelectAnios');

    //    for (var i = max; i <= min; i++) {
    //        var opt = document.createElement('option');
    //        opt.value = i;
    //        opt.innerHTML = i;
    //        select.appendChild(opt);
    //    }
    //});

    function OcultarBotones() {
         $.ajax({
                url: '@Url.Action("verificarInicioSesion", "Home")',
                type: 'POST',
                async: true,
                dataType: "json",
                error: function (response, status, error) {
                    console.log(error);
                },
                success: function (respuesta) {
                    if (respuesta == false) {
                        $("#btnmodificarusuario").hide();
                        $("#btnModificarUsuarios").hide();
                        $("#btnInfoAldea").hide();
                        $("#btnModificarInfoAldea").hide();
                        $("#btnUsuarios").hide();
                        $("#btnConsultaPagos").hide();
                        $("#btnCerrarSesion").hide();



                    }
                },
                beforeSend: function () {
                    console.log("Se enviara");
                },
                complete: function () {
                    console.log("Termino");
                }
            });

    }
    $(document).ready(function () {
        document.getElementById('btnmodificarusuario').style.display = 'none';
        document.getElementById('btnModificarInfoAldea').style.display = 'none';
        document.getElementById('btnModificarUsuarios').style.display = 'none';
    });
    $(document).ready(function () {
        OcultarBotones();
        MostrarBotones();
    });
     function MostrarBotones() {

        $.ajax({
                url: '@Url.Action("ObtenerDatosSesion", "Home")',
                type: 'POST',
                async: true,
                dataType: "json",
                error: function (response, status, error) {
                    console.log(error);
                },
                success: function (respuesta) {
                    switch (respuesta) {
                        case '1':
                            $("#btnmodificarusuario").show();
                            $("#btnModificarUsuarios").hide();
                            $("#btnInfoAldea").show();
                            $("#btnModificarInfoAldea").hide();
                            $("#btnUsuarios").hide();
                            $("#btnConsultaPagos").show();
                            $("#btnCerrarSesion").show();
                            $("#btniniciarSesion").hide();
                            $("#btnRegistrarUsuario").hide();


                            break;
                        case '2':
                            $("#btnmodificarusuario").hide();
                            $("#btnModificarUsuarios").show();
                            $("#btnInfoAldea").show();
                            $("#btnModificarInfoAldea").show();
                            $("#btnUsuarios").show();
                            $("#btnConsultaPagos").show();
                            $("#btniniciarSesion").hide();
                            $("#btnCerrarSesion").show();
                            $("#btnRegistrarUsuario").hide();
                            break;
                        case '0':
                            $("#btnmodificarusuario").hide();
                            $("#btnModificarUsuarios").hide();
                            $("#btnInfoAldea").hide();
                            $("#btnModificarInfoAldea").hide();
                            $("#btnUsuarios").hide();
                            $("#btnConsultaPagos").hide();

                            //$("#btniniciarSesion").hide();
                            $("#btnCerrarSesion").hide();



                    }

                   // GestionarBotones();
                },
                beforeSend: function () {
                    console.log("Se enviara");
                },
                complete: function () {
                    console.log("Termino");
                }
            });


    };

</script>